<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Craft Table</string>
	<key>ThemeIdentifier</key>
	<string>com.nectar.themes.crafttable</string>
	<key>CreatorHomePage</key>
	<string>https://github.com/kyrielie/nectar</string>
	<key>CreatorName</key>
	<string>Original yarn-craft design; set in Quicksand (Andrew Paglinawan, SIL OFL) with Yarndings 20 ornaments (Sarah Cadigan-Fried, SIL OFL)</string>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
