<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Broadsheet</string>
	<key>ThemeIdentifier</key>
	<string>com.nectar.themes.broadsheet</string>
	<key>CreatorHomePage</key>
	<string>https://mynameisstuart.com/</string>
	<key>CreatorName</key>
	<string>Stuart Breckenridge (github.com/mynameisstuart/NNWThemesBroadsheet); ported unmodified for Nectar, replacing the previous in-house "The Broadsheet" theme</string>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
