<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Dracula</string>
	<key>ThemeIdentifier</key>
	<string>com.nectar.themes.dracula</string>
	<key>CreatorHomePage</key>
	<string>https://github.com/dracula/ao3</string>
	<key>CreatorName</key>
	<string>Ported from the official Dracula Theme AO3 port (MIT licensed, Dracula Theme)</string>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
