<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Deco Line</string>
	<key>ThemeIdentifier</key>
	<string>com.nectar.themes.decoline</string>
	<key>CreatorHomePage</key>
	<string>https://github.com/kyrielie/nectar</string>
	<key>CreatorName</key>
	<string>Set in Raleway (Matt McInerney / Impallari Type / Google Fonts, SIL OFL); ported to NetNewsWire theme format for Nectar</string>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
